
/* BASE STYLES*/
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Inconsolata:wdth,wght@50..200,200..900&display=swap');
:root{
--orange-color: #f6bd60;
--white-color:  #f7ede2;
--green-color: #84a59d;
--green-color-dk: #264653;
--pink-color-lg: #F5CAC3;
--pink-color-dk: #F28482;
background-color: var(--white-color);
}
#root{
    background-color: var(--white-color);
    font-family: "Inconsolata", monospace;
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.form-container{
    max-width: 600px; 
}

.form-container> form > h2{
    text-align: center;
    text-shadow: 5px 5px 10px var(--pink-color-dk);
}

form > label > input{
    padding: .3em;
    font-family: inherit;
    outline-color: var(--pink-color-lg);
}

.form-btn{
    background-color: var(--pink-color-dk);
    border: none;
    border-radius: 1em;
    width: 50%;
    padding: .5em;
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    align-self: center;
}
.form-btn:hover{
    background-color: var(--pink-color-lg);
}
button{
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
}

/*RECIPE STYLES*/
.search-bar-container{
    margin: 1em;
}
.search-bar-container >button{
    background-color: var(--pink-color-dk);
    font-family: inherit;
    font-weight: 700;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 1em;
}
.recipe-card-container{
    gap: 1em;
}
.recipe-card{
    border-radius: 1em;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: .5em;
    
}
.recipe-card > div {
    width: 50%;
}
.recipe-img{
    object-fit: cover;
    height: 200px;
    width: 50%;
    border-radius: .5em;
    max-width: 500px;
}
.recipe-info{
    text-transform: capitalize;
    margin-left: 1em;
    width: 50%;
}
.recipe-info >a {
    color: black;
    text-decoration: none;
    background-color: var(--green-color);
    padding: .3em;
    border-radius: .2em;
}

/*SINGLE RECIPE STYLES*/
.single-rec-title{
    text-transform: capitalize;
}
.single-rec-container{
    display: flex;
    align-items: center;
    gap: 1em;
}
.single-rec-img{
    border-radius: .5em;
}
.link{
    background-color: var(--green-color);
    font-family: inherit;
    padding: .5em 1em;
    border: 1px solid var(--green-color);
    border-radius: 1em;
}
.link:hover{
    background-color: var(--green-color-dk);
    color: white;
}
.link >a{
    text-decoration: none;
    color: rgb(235, 241, 241);
}
.delete{
    background-color: var(--pink-color-dk);
    margin-left: 1em;
    font-family: inherit;
    padding: .5em 1em;
    border: 1px solid var(--pink-color-lg);
    border-radius: 1em;
}
.delete:hover{
    background-color: red;
    color: white;
}

/*ADD RECIPE STYLES*/
.new-recipe-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.2em;
}
.new-recipe-form > h2{
    font-weight: bolder;
}
.ing-form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.add-btn{
    font-size: 1.5em;
    width: 300px;
}

/*INGREDIENT STYLES*/
.ing-contianer{
    background-color: whitesmoke;
    margin-top: 1em;
}
.ing-title-container{
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid var(--pink-color-dk);
}
.ing-title-container > h3{
    padding-left: 1em;
}
li{
    padding: .3em;
    border-bottom: 1px solid paleturquoise;
}
.add-ing-btn{
    background-color: var(--pink-color-dk);
    border: none;
    border-radius: 5px;
    padding: .4em .6em;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
}
/*FAVORITES STYLES*/
.favs-container{
    display: flex;
    margin: auto;
    height: 100%;
    align-items: start;
    justify-content: space-between;
    padding-top: 2em;
}
.title-fav{
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1.3em;
}
.title-fav >h3{
    padding-left: .8em;
}
/*ACCOUNT STYLES*/
.account-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}
.add-rec-btn{
    background-color: var(--green-color);
    font-family: inherit;
    padding: .5em 1em;
    border: 1px solid var(--green-color);
    border-radius: 1em;
    font-weight: 700;
    font-size: 1em;
    width: 30%;
    max-width: 150px;
}
.add-rec-btn:hover {
    background-color: var(--green-color-dk);

}
.add-rec-btn>a{
    text-decoration: none;
color: black;
}
/*LOGIN STYLES*/

/*REGISTER STYLES*/
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 1em;
    font-size: 1.2em;
}
.label{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.label> input{
    font-size: 1em
}
/*NAVBAR STYLES*/
header {
    background-color:var(--orange-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav {
    width: 40%;
    display: flex;
    justify-content: space-around;  
    align-items: center;  

}
nav > a{
    text-decoration: none;
    color: var(--green-color-dk);
    font-weight: 700;
}
nav > a:hover{
    color: black;
}
.logo-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    max-width: 320px;
}
.logo-div > a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.logout {
    font-family: inherit;
    font-size: 16px;
    padding: .6em 1.2em;
    font-weight: 700;
    border: none;
    border-radius: 1em;
    background-color: var(--pink-color-dk);
}
.logout:hover {
    background-color: var(--pink-color-lg);
}
/*FOOTER STYLES*/
.footer{
    background-color:var(--orange-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.app{
    display: flex;
    flex-direction: column;
    height: 100%;
}