
/* BASE STYLES*/
 @import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Inconsolata:wdth,wght@50..200,200..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
:root{
--orange-color: #f6bd60;
--white-color:  #f7ede2;
--green-color: #84a59d;
--green-color-dk: #264653;
--pink-color-lg: #F5CAC3;
--pink-color-dk: #F28482;
background-color: var(--white-color);
}
#root{
    background-color: var(--white-color);
    font-family:"Inconsolata", monospace;
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.loading{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    max-width: 600px; 
    margin: 1em;
}
h1,h2,h3{
    font-family:"Glass Antiqua", cursive;
}
.form-container> form > h2{
    text-align: center;

}

form > label > input{
    padding: .3em;
    font-family: inherit;
    outline-color: var(--pink-color-lg);
}

.form-btn{
    background-color: var(--pink-color-dk);
    border: none;
    border-radius: 1em;
    padding: .5em 2em;
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    align-self: center;
}
.form-btn:hover{
    background-color: var(--pink-color-lg);
}
button{
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: auto;
}

/*RECIPE STYLES*/
.search-bar-container{
    margin: 1em;
}

.search-bar-container >button{
    background-color: var(--pink-color-dk);
    font-family: inherit;
    font-weight: 700;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 1em;
}
.recipe-card-container{
    gap: 1em;
}
.recipe-card{
    border-radius: 1em;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: .5em;
}
.recipe-card > div {
    width: 50%;
}
.recipe-img{
    object-fit: cover;
    height: 200px;
    width: 50%;
    border-radius: .5em;
}
.recipe-info{
    text-transform: capitalize;
    margin-left: 1em;
    width: 50%;
}
.recipe-info >a {
    color: black;
    text-decoration: none;
    background-color: var(--green-color);
    padding: .3em;
    border-radius: .2em;
}

/*SINGLE RECIPE STYLES*/
.single-rec-title{
    text-transform: capitalize;
}
.single-rec-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}
.single-rec-img{
    border-radius: .5em;
}
.link{
    background-color: var(--green-color);
    font-family: inherit;
    padding: .5em 1em;
    border: 1px solid var(--green-color);
    border-radius: 1em;
}
.link:hover{
    background-color: var(--green-color-dk);
    color: white;
}
.link >a{
    text-decoration: none;
    color: rgb(235, 241, 241);
}
.delete{
    background-color: var(--pink-color-lg);
    margin-left: 1em;
    font-family: inherit;
    padding: .5em 1em;
    border: 1px solid var(--pink-color-lg);
    border-radius: 1em;
}
.delete:hover{
    background-color: red;
    color: white;
}

/*ADD RECIPE STYLES*/

.ing-form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}


/*INGREDIENT STYLES*/
.ing-contianer{
    background-color: whitesmoke;
    margin-top: 1em;
}
.ing-title-container{
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid var(--pink-color-dk);
}
li{
    padding: .3em;
    border-bottom: 1px solid paleturquoise;
}
.add-ing-btn{
    background-color: var(--pink-color-dk);
    border: none;
    border-radius: 5px;
    padding: .4em .6em;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
}
/*FAVORITES STYLES*/
.title-fav{
    display: flex;
    align-items: center;
    width: fit-content;
}
/*ACCOUNT STYLES*/
.account-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}
.add-rec-btn{
    background-color: var(--green-color);
    font-family: inherit;
    padding: .5em 1em;
    border: 1px solid var(--green-color);
    border-radius: 1em;
    font-weight: 700;
    font-size: 1em;
    width: 30%;
    max-width: 150px;
}
.add-rec-btn:hover {
    background-color: var(--green-color-dk);

}
.add-rec-btn>a{
    text-decoration: none;
color: black;
}
/*LOGIN STYLES*/
.login-err{
    color: red;
}
/*REGISTER STYLES*/
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1em;
    background-color:whitesmoke;
    border: 2px solid gray;
    border-radius: 5px;
}
.form>label{
    display: flex;
    flex-direction: column;
    width: 50%;
}
/*NAVBAR STYLES*/
header {
    background-color:var(--orange-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav {
    width: 40%;
    display: flex;
    justify-content: space-around;  
    align-items: center;  

}
nav > a{
    text-decoration: none;
    color: var(--green-color-dk);
    font-weight: 700;
}
nav>a:hover{
    color: white;
}
.logo-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    max-width: 250px;
}
.logout {
    font-family: inherit;
    font-size: 16px;
    padding: .3em 1em;
    font-weight: 700;
    border: none;
    border-radius: 1em;
    background-color: var(--pink-color-dk);
}
.logout:hover {
    background-color: var(--pink-color-lg);
}
.icon{
    display: none;
}
@media screen and (max-width: 750px) {
    .icon {
        display: flex;
        justify-content: end;

        align-items: center;  
        cursor: pointer;
        width: 50%;
        }
        .logo-div{
            width: 50%;
        }
        .logo-div > img{
            padding-left: 1em;
        }
        header{
            flex-wrap: wrap;
        }
        nav{
            display: none;
        }
        nav.open{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;  
            align-items: center;
            background-color: #84a59d;
            width: 100%;
        }
        nav > a{
            text-decoration: none;
            color: var(--green-color-dk);
            font-weight: 700;
            padding: 1em;
            border-bottom: 1px solid #264653;
            width: 80%;
        }
        nav > a:hover{
            color: black;
        }
        .logout {
            font-family: inherit;
            font-size: 16px;
            padding: .3em 1em;
            font-weight: 700;
            border: none;
            border-radius: 1em;
            background-color: var(--pink-color-dk);
            align-self: flex-start;
            margin: 1em 10%;
        }
        .search-bar-container{
            display: flex;
            height: 20vh;
            flex-direction: column ;
            justify-content: space-evenly;
        }



}
/*FOOTER STYLES*/
.footer-container{
    background-color:var(--orange-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
span{
    font-size: small;
    padding-bottom: 1em;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
}
.footer-nav>a{
    color: var(--green-color-dk);
    text-decoration: none;
}
.footer-social{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}
.footer-social>a:hover{
    background-color: var(--white-color);
    border-radius: 5px
}
.footer-nav>a:hover{
    color: #f7ede2;
}
.app{
    display: flex;
    flex-direction: column;
    height: 100%;
}
@media screen and (max-width: 750px) {

    .footer{
        background-color:var(--orange-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer-nav{
        padding: 1em;
        width: 70%;
    }
    .footer-social{
        width: 70%;
    }
    .footer-nav>a, .footer-social>a>img{
        padding: .5em;
    }
}
@media screen and (max-width: 460px){
    .recipe-card{
        border-radius: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-bottom: 3em;
    }
  
    .recipe-card > div {
        width: 100%;
    }
    .recipe-img{
        object-fit: cover;
        height: 200px;
        width: 100%;
        border-radius: .5em;
    }
    .recipe-info{
        text-transform: capitalize;
        margin-left: 1em;
        width: 50%;
    }
    .recipe-info >a {
        color: black;
        text-decoration: none;
        background-color: var(--green-color);
        padding: .3em;
        border-radius: .2em;
    }
}

/*EDIT RECIPE*/
.edit{
    background-color: var(--pink-color-dk);
    margin-left: 1em;
    font-family: inherit;
    padding: .5em 1em;
    border: 1px solid var(--pink-color-lg);
    border-radius: 1em;
}
.hover:hover{
    background-color: var(--orange-color);
    color: white;
}
.update{
    background-color: var(--orange-color);
    margin-left: 1em;
    font-family: inherit;
    padding: .5em 1em;
    border: 1px solid var(--pink-color-lg);
    border-radius: 1em;
}
.update:hover{
    background-color: #e69513;
}
.modal{
    margin: 1em;
}